<div lang="eu" style="font-family:Helvetica,Arial,sans-serif;">
	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Iruzkin berria gehitu da</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><a href="mailto:[$COMMENTS_USER_ADDRESS$]"><strong>[$COMMENTS_USER_NAME$]</strong></a>-(e)k <strong>[$SITE_NAME$]</strong> webgunean
			<a href="[$CONTENT_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>iruzkina</strong></a> gehitu du.
		</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Se ha añadido un nuevo comentario</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p><a href="mailto:[$COMMENTS_USER_ADDRESS$]"><strong>[$COMMENTS_USER_NAME$]</strong></a> ha añadido
			<a href="[$CONTENT_URL$]" target="_blank" title="Abre nueva ventana"><strong>un comentario</strong></a>
			dentro del sitio web <strong>[$SITE_NAME$]</strong>.
		</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">New comment has added</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p><a href="mailto:[$COMMENTS_USER_ADDRESS$]"><strong>[$COMMENTS_USER_NAME$]</strong></a> has added
			<a href="[$CONTENT_URL$]" target="_blank" title="Opens new window"><strong>a comment</strong></a>
			in the <strong>[$SITE_NAME$]</strong> website.
		</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>