<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Kidea izateko eskaeraren egoera</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><strong>[$SITE_NAME$]</strong> webguneko kidea izateko egindako eskaeraren egoera honakoa da: <strong>[$STATUS$]</strong>.</p>
		<p>Eskaera kudeatu duenak hauxe esan du:</p>
		<p>"<strong>[$REPLY_COMMENTS$]</strong>"</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Estado de la solicitud de membresía</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>El estado de la solicitud realizada para unirte al sitio web <strong>[$SITE_NAME$]</strong> es el siguiente: <strong>[$STATUS$]</strong>.</p>
		<p>La persona que se ha encargado de esta solicitud ha notificado lo siguiente:</p>
		<p>"<strong>[$REPLY_COMMENTS$]</strong>"</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Status of the membership request</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p>The state of your request to join the <strong>[$SITE_NAME$]</strong> website is: <strong>[$STATUS$]</strong>.</p>
		<p>The person who has handled this request has notified the following:</p>
		<p>"<strong>[$REPLY_COMMENTS$]</strong>"</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>