trackTotalHits=B"true"
productionModeEnabled=B"false"
indexNamePrefix="liferay-"
indexNumberOfReplicas="5"
indexNumberOfShards="1"
logExceptionsOnly=B"true"
retryOnConflict="5"
authenticationEnabled=B"false"
username="elastic"
password=""
httpSSLEnabled=B"false"
truststoreType="pkcs12"
truststorePath="/path/to/localhost.p12"
truststorePassword=""
active=B"false"
connectionId=""
networkHostAddresses=[\
  "[http://localhost:9200]"\
]
RESTClientLoggerLevel="ERROR"
operationMode="REMOTE"
clusterName="RemoteLiferayDev74"
transportAddresses=["localhost:9300"]
clientTransportSniff=B"true"
clientTransportIgnoreClusterName=B"false"
clientTransportPingTimeout=""
clientTransportNodesSamplerInterval=""
additionalConfigurations=""
bootstrapMlockAll=B"false"
embeddedHttpPort=I"9201"
httpEnabled=B"true"
httpCORSAllowOrigin="/https?:\\/\\/localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled=B"true"
maxConnections=I"75"
maxConnectionsPerRoute=I"75"
networkHost=""
networkBindHost=""
networkPublishHost=""
transportTcpPort=""
discoveryZenPingUnicastHostsPort="9300-9400"
additionalIndexConfigurations=""
additionalTypeMappings=""
minimumRequiredNodeVersion="0.0.0"
nodeName=""
overrideTypeMappings=""
proxyHost=""
proxyPort=I"0"
proxyUserName=""
remoteClusterConnectionId="RemoteLiferayDev74"
sidecarDebug=B"false"
sidecarDebugSettings="-agentlib:jdwp\=transport\=dt_socket,address\=8001,server\=y,suspend\=y,quiet\=y"
sidecarHeartbeatInterval=L"10000"
sidecarHome="elasticsearch-sidecar"
sidecarHttpPort=""
sidecarJVMOptions=[\
  "-Xms1g",\
  "-Xmx1g",\
  "-XX:+AlwaysPreTouch"\
]
sidecarShutdownTimeout=L"10000"