valid.url.prefixes="@portlet_context_url@,http://localhost:8080,http://gestion-desarrollo2-servicios.lgp.ehu.es,http://dev.ehu.eus,http://dev62.ehu.eus,http://gestion-integracion-servicios.ehu.es,http://int.ehu.eus,http://int62.ehu.eus,http://gestion-servicios.ehu.es,http://www.ehu.eus,https://gestion-servicios.ehu.es,https://www.ehu.eus"
xml.doctype.declaration.allowed="false"
xml.external.general.entities.allowed="false"
xml.external.parameter.entities.allowed="false"
xsl.secure.processing.enabled="false"
