<div style="font-family:Helvetica,Arial,sans-serif;">
	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="eu">Laster-marka gaurkotua</h1>
		<p lang="eu">[$TO_NAME$] agurgarria,</p>
		<p lang="eu"><strong>[$BOOKMARKS_ENTRY_STATUS_BY_USER_NAME$]</strong>-(e)k <a href="[$BOOKMARKS_ENTRY_URL$]" target="_blank" title="Beste leiho bat irekiko du">laster-marka</a> gaurkotu du.</p>
		<p lang="eu">Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="eu"><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara. Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
		
	</div>

	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="es">Marcador actualizado</h1>
		<p lang="es">Estimado/a [$TO_NAME$],</p>
		<p lang="es"><strong>[$BOOKMARKS_ENTRY_STATUS_BY_USER_NAME$]</strong> ha actualizado un <a href="[$BOOKMARKS_ENTRY_URL$]" target="_blank" title="Abre nueva ventana">marcador</a>.</p>
		<p lang="es">Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="es"><small>Aviso autom&aacute;tico del sistema de notificaci&oacute;n de la web corporativa, por favor, no respondas a este mensaje. Si tienes alguna duda contacta con el Centro de Atenci&oacute;n a Usuarios/as (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
	</div>

	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="en">Updated bookmark</h1>		
		<p lang="en">Dear [$TO_NAME$],</p>
		<p lang="en"><strong>[$BOOKMARKS_ENTRY_STATUS_BY_USER_NAME$]</strong> has updated a <a href="[$BOOKMARKS_ENTRY_URL$]" target="_blank" title="Opens new window">bookmark</a>.</p>
		<p lang="en">Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="en"><small>Automatic notice from the corporate website notification system, please do not reply to it. If you have any queries contact the User Support Centre (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
	</div>	
</div>