<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Wiki orrialde berria</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><a href="mailto:[$PAGE_USER_ADDRESS$]">[$PAGE_USER_NAME$]</a>-(e)k ondorengo ingurunean
			<a href="[$PAGE_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>wiki orrialde</strong></a> berria sortu du:
		</p>
		<ul>
			<li>Webgunea: <strong>[$SITE_NAME$]</strong></li>
			<li>Wikia: <strong>[$NODE_NAME$]</strong></li>
			<li>Izenburua: <strong>[$PAGE_TITLE$]</strong></li>
		</ul>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Nueva página de wiki</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p><a href="mailto:[$PAGE_USER_ADDRESS$]">[$PAGE_USER_NAME$]</a> ha creado una nueva
			<a href="[$PAGE_URL$]" target="_blank" title="Abre nueva ventana"><strong>página de wiki</strong></a> en el entorno siguiente:
		</p>
		<ul>
			<li>Sitio web: <strong>[$SITE_NAME$]</strong></li>
			<li>Wiki: <strong>[$NODE_NAME$]</strong></li>
			<li>Título: <strong>[$PAGE_TITLE$]</strong></li>
		</ul>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Wiki new page</h1>		
		<p>Dear [$TO_NAME$],</p>
		<p><a href="mailto:[$PAGE_USER_ADDRESS$]">[$PAGE_USER_NAME$]</a> has created a new
			<a href="[$PAGE_URL$]" target="_blank" title="Opens new window"><strong>wiki page</strong></a> in the next environment:
		</p>
		<ul>
			<li>Website: <strong>[$SITE_NAME$]</strong></li>
			<li>Wiki: <strong>[$NODE_NAME$]</strong></li>
			<li>Title: <strong>[$PAGE_TITLE$]</strong></li>
		</ul>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>
</div>