<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Webgunea bisitatzeko gonbidapena</h1>
		<p>Kaixo,</p>
		<p><a href="[$PAGE_URL$]/../" target="_blank" title="Beste leiho bat irekiko du"><strong>Webgune hau</strong></a> ikustera zu gonbidatzeak pozten nau.</p>
		<p>Nire ustez interesa duen informazioa aurki dezakezu. Beraz, webgunean zure bisita espero dut.<p>
		<p>Agur bero bat,</p>
		<p>[$FROM_NAME$]</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Invitación para visitar el Sitio Web</h1>
		<p>Hola,</p>
		<p>Me complace hacerte llegar esta invitación para que visites
			<a href="[$PAGE_URL$]/../" target="_blank" title="Abre nueva ventana"><strong>este sitio web</strong></a>.
		</p>
		<p>Creo que podrás encontrar información de tu interés, así que espero contar con tu presencia.<p>
		<p>Un afectuoso saludo,</p>
		<p>[$FROM_NAME$]</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Invitation to visit the Website</h1>		
		<p>Hello,</p>
		<p>I am pleased to send you this invitation to visit <a href="[$PAGE_URL$]/../" target="_blank" title="Opens new window"><strong>this website</strong></a>.</p>
		<p>I think you can find information of interest, so I hope to have your presence.<p>
		<p>Best regards,</p>
		<p>[$FROM_NAME$]</p>
	</div>	
</div>
