active=B"false"
authenticationEnabled=B"false"
connectionId="RemoteLiferayInt74"
httpSSLEnabled=B"false"
maxConnections=I"75"
maxConnectionsPerRoute=I"75"
networkHostAddresses=[ \
  "http://elasticint741.lgp.ehu.es:9200", \
  "http://elasticint742.lgp.ehu.es:9200", \
  "http://elasticint743.lgp.ehu.es:9200", \
  ]
proxyHost=""
proxyPort=I"0"
proxyUserName=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
