<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Erosketaren baieztapena</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><a href="/eu" target="_blank" title="Beste leiho bat irekiko du">[$SITE_NAME$]</a>-(e)n egin duzun
			eta <strong>[$ORDER_NUMBER$]</strong> eskaera zenbakia duen erosketari dagokiona bidean jarri dela jakinarazteko abisua da hau.
		</p>
		<p>Eskaerarekin lotutako helbidera ahalik eta askarren iritsiko da.</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Confirmación de solicitud de compra</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Esto es un aviso para ponerte en conocimiento de que la compra con el número de petición <strong>[$ORDER_NUMBER$]</strong>
			realizada en <a href="/es" target="_blank" title="Abre nueva ventana">[$SITE_NAME$]</a> ya está en camino.
		</p>
		<p>La llegada a la dirección facilitada con dicha petición será lo más pronto posible.</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Shopping request confirmation</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p>This is a notice to let you know the purchase with the request number <strong>[$ORDER_NUMBER$]</strong>,
			made at <a href="/" target="_blank" title="Opens new window">[$SITE_NAME$]</a> is already underway.
		</p>
		<p>The arrival to the address provided with this request will be as soon as posible.</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>