<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Erosketaren baieztapena</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p>Hau da <strong>[$ORDER_NUMBER$]</strong> eskaera zenbakia duen eta
			<a href="/eu" target="_blank" title="Beste leiho bat irekiko du">[$SITE_NAME$]</a>-(e)n egin duzun erosketaren baieztapena.
		</p>
		<p>Eskaerarekin jadanik lanean ari gara berarekin lotutako helbidera ahalik eta askarren bidaltzearren.</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Confirmación de solicitud de compra</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Esta es la confirmación de la compra con el número de petición <strong>[$ORDER_NUMBER$]</strong>
			que has realizado en <a href="/es" target="_blank" title="Abre nueva ventana">[$SITE_NAME$]</a>.
		</p>
		<p>Ya nos hemos puesto a trabajar con la petición con el fin de hacerla llegar lo más pronto posible a la dirección facilitada con la misma.</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Shopping request confirmation</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p>This is the confirmation of your purchase with the request number <strong>[$ORDER_NUMBER$]</strong>,
			made at <a href="/" target="_blank" title="Opens new window">[$SITE_NAME$]</a>
		</p>
		<p>We are already working with the request in order to sent it as soon as posible to the address provided with it.</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>