<div style="background: #eee; border-top: 1px solid #ccc; margin: 5px; padding: 5px; font-family: Helvetica,Arial,sans-serif;">
	<h2><span lang="eu">Wiki orrialdea</span> - <span lang="es">P&aacute;gina wiki</span> - <span lang="en">Wiki page</span></h2>
	<hr>
	[$PAGE_CONTENT$]
</div>