<div style="font-family:Helvetica,Arial,sans-serif;">
	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="eu">Wiki orrialde berria</h1>
		<p lang="eu"><strong>Webgunea:</strong> [$SITE_NAME$]</p>
		<p lang="eu"><strong>Wiki:</strong> [$NODE_NAME$]</p>
		<p lang="eu">[$TO_NAME$] agurgarria,</p>
		<p lang="eu"><strong>[$PAGE_USER_NAME$]</strong>-(e)k <a href="[$PAGE_URL$]" target="_blank" title="Beste leiho bat irekiko du">[$PAGE_TITLE$] orrialdea</a> sortu du.</p>
		<p lang="eu">Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="eu"><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara. Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
	</div>

	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="es">Nueva p&aacute;gina de wiki</h1>
		<p lang="es"><strong>Sitio web:</strong> [$SITE_NAME$]</p>
		<p lang="es"><strong>Wiki:</strong> [$NODE_NAME$]</p>
		<p lang="es">Estimado/a [$TO_NAME$],</p>
		<p lang="es"><strong>[$PAGE_USER_NAME$]</strong> ha creado la <a href="[$PAGE_URL$]" target="_blank" title="Abre nueva ventana">p&aacute;gina [$PAGE_TITLE$]</a>.</p>
		<p lang="es">Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="es"><small>Aviso autom&aacute;tico del sistema de notificaci&oacute;n de la web corporativa, por favor, no respondas a este mensaje. Si tienes alguna duda contacta con el Centro de Atenci&oacute;n a Usuarios/as (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
	</div>

	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;" lang="en">Wiki new page</h1>		
		<p lang="en"><strong>Website:</strong> [$SITE_NAME$]</p>
		<p lang="en"><strong>Wiki:</strong> [$NODE_NAME$]</p>
		<p lang="en">Dear [$TO_NAME$],</p>
		<p lang="en"><strong>[$PAGE_USER_NAME$]</strong> has created the <a href="[$PAGE_URL$]" target="_blank" title="Opens new window">page [$PAGE_TITLE$]</a>.</p>
		<p lang="en">Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p lang="en"><small>Automatic notice from the corporate website notification system, please do not reply to it. If you have any queries contact the User Support Centre (945 01 4400, <a href="http://lagun.ehu.eus">lagun.ehu.eus</a>, <a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small></p>
	</div>	
</div>