<div style="background: #eee; border-top: 1px solid #ccc; margin: 5px; padding: 5px; font-family: Helvetica,Arial,sans-serif;">
	<h2><span lang="eu">Aurreko bertsioareriko ezberdintasunak</span> - <span lang="es">Diferencias respecto a la anterior versi&oacute;n</span> - <span lang="en">Last version differences</span></h2>
	<hr>
	[$PAGE_DIFFS$]
</div>