<div lang="eu" style="font-family:Helvetica,Arial,sans-serif;">
	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Edukia berrikusi</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p>Mesedez, berrikusi <strong>[$ARTICLE_TITLE$]</strong> (IDa: <strong>[$ARTICLE_ID$]</strong>) edukia
			<a href="[$PORTAL_URL$]" target="_blank" title="Beste leiho bat irekiko du">UPV/EHUren web korporatiboa</a>-ko
			<strong>[$SITE_NAME$]</strong> webgunean.
		</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Revisión de contenido</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Por favor, revisa el contenido <strong>[$ARTICLE_TITLE$]</strong> (ID: <strong>[$ARTICLE_ID$]</strong>)
			en el sitio web <strong>[$SITE_NAME$]</strong> de la
			<a href="[$PORTAL_URL$]" target="_blank" title="Abre nueva ventana">web corporativa de la UPV/EHU</a>.
		</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Requested article review</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p>Please check the content <strong>[$ARTICLE_TITLE$]</strong> (ID: <strong>[$ARTICLE_ID$]</strong>)
			on the <strong>[$SITE_NAME$]</strong> website of the
			<a href="[$PORTAL_URL$]" target="_blank" title="Opens new window">UPV/EHU corporate website</a>.
		</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>