<div lang="eu" style="font-family:Helvetica,Arial,sans-serif;">
	<div style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Edukia onartzeko eskaera</h1>
		<p><strong>Webgunea:</strong> [$SITE_NAME$]</p>
		<p>[$TO_NAME$] agurgarria,</p>
		<p> Mesedez, onartu <strong>[$ARTICLE_ID$]</strong> IDa, <strong>[$ARTICLE_VERSION$]</strong> bertsioa eta
			<a href="[$ARTICLE_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>[$ARTICLE_TITLE$]</strong></a>
			izena duen edukia.
		</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Solicitud de aprobación de contenido</h1>
		<p><strong>Sitio web:</strong> [$SITE_NAME$]</p>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Por favor, aprueba el contenido con ID <strong>[$ARTICLE_ID$]</strong>, versión <strong>[$ARTICLE_VERSION$]</strong> y nombre
			<a href="[$ARTICLE_URL$]" target="_blank" title="Abre nueva ventana"><strong>[$ARTICLE_TITLE$]</strong></a>.
		</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Article approval requested</h1>	
		<p><strong>Website:</strong> [$SITE_NAME$]</p>
		<p>Dear [$TO_NAME$],</p>
		<p>Please approve the article with the ID <strong>[$ARTICLE_ID$]</strong> and version <strong>[$ARTICLE_VERSION$]</strong> and title
			<a href="[$ARTICLE_URL$]" target="_blank" title="Opens new window"><strong>[$ARTICLE_TITLE$]</strong></a>.
		</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>