.featured_links-wrapper{
    width: calc(100% + 15px);
    @include media-breakpoint-down(md){
        width: calc(100% - 30px);
    }
    .list-group-item{
        padding: 17px 18px;
        border: 0;
        border-bottom: 1px solid rgba($neutral-color-dark, 0.125);
        margin-bottom: 1px;
        font-family: $primary-font-sans;
        &:last-child{
            border-bottom:0;
        }
        &.item-dark{
            background-color: $color-upv-dark;
            border-radius: 0;
            color: $color-white;
            font-weight: bold;
        }
        a{
            display: block;
            color: $color-upv-dark;
            font-family: $primary-font-sans;
            &:hover{
                text-decoration: none;
            }
        }
        img{
            width: 32px;
            margin-right: 18px;
        }
    }
}