.summary_data-wrapper{
    width: 100%;
    position: relative;
    .summary_data-content{
        display: flex;
        width: 100%;
        padding: 26px 10px 0;
        border-top: 1px solid $neutral-color-dark;
        border-bottom: 1px solid $neutral-color-dark;
        background-color: $color-white;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .summary_data-item{
            text-align: center;
            width: 33%;;
            @include media-breakpoint-down(md){
                width: 100%;
            }
            p{
                color: $color-primary;
                font-family: $primary-font-sans;
                line-height: 1;
                &.text-number{
                    font-size: 48px;
                }
                &.text-data{
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}