<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Foro sarrera eguneratua</h1>
		<p>Lagun hori,</p>
		<p><a href="mailto:[$MESSAGE_USER_ADDRESS$]">[$MESSAGE_USER_NAME$]</a>-(e)k ondorengo ingurunean
			<a href="[$MESSAGE_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>foro mezua</strong></a> eguneratu du:
		</p>
		<ul>
			<li>Webgunea: <strong>[$SITE_NAME$]</strong></li>
			<li>Kategoria: <strong>[$CATEGORY_NAME$]</strong></li>
			<li>Gaia: <strong>[$MESSAGE_SUBJECT$]</strong></li>
		</ul>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Entrada de foro actualizada</h1>
		<p>Estimado/a amigo/a,</p>
		<p><a href="mailto:[$MESSAGE_USER_ADDRESS$]">[$MESSAGE_USER_NAME$]</a> ha actualizado un
			<a href="[$MESSAGE_URL$]" target="_blank" title="Abre nueva ventana"><strong>mensaje de foro</strong></a> en el entorno siguiente:
		</p>
		<ul>
			<li>Sitio web: <strong>[$SITE_NAME$]</strong></li>
			<li>Categoría: <strong>[$CATEGORY_NAME$]</strong></li>
			<li>Asunto: <strong>[$MESSAGE_SUBJECT$]</strong></li>
		</ul>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Message board entry updated</h1>		
		<p>Dear friend,</p>
		<p><a href="mailto:[$MESSAGE_USER_ADDRESS$]">[$MESSAGE_USER_NAME$]</a> has updated a
			<a href="[$MESSAGE_URL$]" target="_blank" title="Opens new window"><strong>message board entry</strong></a> in the next environment:
		</p>
		<ul>
			<li>Website: <strong>[$SITE_NAME$]</strong></li>
			<li>Category: <strong>[$CATEGORY_NAME$]</strong></li>
			<li>Subject: <strong>[$MESSAGE_SUBJECT$]</strong></li>
		</ul>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>