<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Pasahitza berrezarri</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><a href="[$PORTAL_URL$]" target="_blank" title="Beste leiho bat irekiko du">UPV/EHU</a>
			webgunean duzun pasahitza berrezartzeko hona jo: 
			<a href="[$PASSWORD_RESET_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>pasahitza berrezarri</strong></a>.
		</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu edo mezu hau akats moduan jaso izan baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Restablecimiento de contraseña</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Puedes restablecer tu contraseña para el sitio web <a href="[$PORTAL_URL$]" target="_blank" title="Abre nueva ventana">UPV/EHU</a>,
			accediendo a <a href="[$PASSWORD_RESET_URL$]" target="_blank" title="Abre nueva ventana"><strong>restablecer contraseña</strong></a>.
		</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda o has recibido este mensaje por error contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Password reset</h1>		
		<p>Dear [$TO_NAME$],</p>
		<p>You can reset your password for <a href="[$PORTAL_URL$]" target="_blank" title="Opens new window">UPV/EHU</a>
			website at <a href="[$PASSWORD_RESET_URL$]" target="_blank" title="Opens new window"><strong>password reset</strong></a>.
		</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries or you have received this message in error contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>
</div>