<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Helbide elektronikoa egiaztatzea</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p>Mesedez, <a href="[$PORTAL_URL$]" target="_blank" title="Beste leiho bat irekiko du">UPV/EHU</a>
			webgunerako zure helbide elektronikoa hau dela egiaztatzeko hona jo:
			<a href="[$EMAIL_VERIFICATION_URL$]" target="_blank" title="Beste leiho bat irekiko du"><strong>helbide elektronikoa egiaztatu</strong></a>.
		</p>
		<p>Egiaztapen kodea honakoa da: <strong>[$EMAIL_VERIFICATION_CODE$]</strong></p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Verificación de la dirección de correo electrónico</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Por favor, verifica tu dirección de correo electrónico para el sitio web <a href="[$PORTAL_URL$]" target="_blank" title="Abre nueva ventana">UPV/EHU</a>
			accediendo a <a href="[$EMAIL_VERIFICATION_URL$]" target="_blank" title="Abre nueva ventana"><strong>verificar la dirección de correo electrónico</strong></a>.
		</p>
		<p>El código de verificación es <strong>[$EMAIL_VERIFICATION_CODE$]</strong></p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Email address verification</h1>		
		<p>Dear [$TO_NAME$],</p>
		<p>Please verify your email address for <a href="[$PORTAL_URL$]" target="_blank" title="Opens new window">UPV/EHU</a> website
			at <a href="[$EMAIL_VERIFICATION_URL$]" target="_blank" title="Opens new window"><strong>email address verification</strong></a>.
		</p>
		<p>Your verification code is <strong>[$EMAIL_VERIFICATION_CODE$]</strong></p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>
</div>