<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Fitxategi gaurkotua</h1>
		<p><strong>Webgunea:</strong> [$SITE_NAME$]</p>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><strong>[$DOCUMENT_TITLE$]</strong> izena duen fitxategia gaurkotu da <strong>[$FOLDER_NAME$]</strong> karpetan Dokumentuak eta media atalean.</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Archivo actualizado</h1>
		<p><strong>Sitio web:</strong> [$SITE_NAME$]</p>
		<p>Estimado/a [$TO_NAME$],</p>
		<p>Se ha actualizado un archivo titulado <strong>[$DOCUMENT_TITLE$]</strong> en la carpeta <strong>[$FOLDER_NAME$]</strong> en Documentos y multimedia.</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Updated file</h1>		
		<p><strong>Website:</strong> [$SITE_NAME$]</p>
		<p>Dear [$TO_NAME$],</p>
		<p>A file with the title <strong>[$DOCUMENT_TITLE$]</strong> has been updated in folder <strong>[$FOLDER_NAME$]</strong> at Documents and Media.</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>	
</div>