//-- Child pages menu
	
#child-pages .row {

	li {
		list-style: outside none none;
	}
	
	& > ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		width: 100%;
		
		& > li {
		    flex: 0 0 33.33333%;
    		position: relative;
    		max-width: 33.33333%;
    		margin-bottom: 25px;
		    padding-right: 15px;
		    padding-left: 15px;
		    width: 100%;
		    
		    @include media-breakpoint-down(xs) { 
		    	flex: 0 0 100%;
   				max-width: 100%;
		    }

		    & > a{
		    	align-content: space-evenly;
				align-items: center;
				background-color: $color-white;
				border: solid 2px $color-white;
				border-bottom: solid 3px $background-color;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0;
				min-height: 117px;
				width: 100%;

				.card-title{
					color: #000000;
					font-family: $primary-font-sans;
					font-size: 18px;
					font-weight: bold;
					line-height: 28px;
					margin-bottom: 0;
					padding: 0 23px;
					text-align: center;
					@extend .u-text-truncate;
					@extend .u-text-truncate--3;
					width: 100%;
				}

				p{
					padding: 0 23px;
					margin-bottom: 10px;
    				text-align: center;
   					width: 100%;
				}
			}
		    
		    &:hover,
		    &:focus {
		    	& > ul {
		    		border: solid 2px #c3c3c3;
					border-top: solid 3px $background-color;
					margin-top: -3px;
				}

				& > a{
					border: solid 2px #c3c3c3;
					color: $neutral-color-dark;
					text-decoration: underline;
				}
		    }
		    
		    figure {
			    border-bottom: none;
			    display: flex;
			    flex-wrap: wrap;
			    margin: 0;
			    padding: 23px 23px 0 23px;
			    width: 100%;

			    & > div{
					border-radius: 7px;
				    position: relative;
				    padding-top: 62.5%;
				    width: 100%;
			    }

		    	img{
		    		border-radius: 7px;
		    		width: 100%;
				    height: 100%;
				    object-fit: cover;
				    object-position: center top;
				    position: absolute;
				    top: 0;
		    	}

		    	figcaption{
				    align-items: center;
				    display: flex;
				    justify-content: center;
				   	min-height: 117px;
				    width: 100%;
		    	}
		    }
		    
		    & > ul {
		    	background-color: $color-white;
		    	border: solid 2px $color-white;
		    	border-top: none;
		    	border-bottom: solid 3px $background-color;
    			padding: 25px 23px;
		    	
		    	& > li {
		    		margin-bottom: 10px;
		    		
		    		a{
		    			font-size: 16px;
		    		}

		    		a:hover,
		    		a:focus {
		    			text-decoration: underline;
		    		}
		    	}
		    }
		}
	}
}