.image-gallery-carousel{
	background-color: $color-white;
	margin-bottom: 30px;
	padding: 26px 45px 24px 45px;

	h2{
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.carousel-indicators{
		background-color: rgba(0,0,0, 0.5);
		border-radius: 30px;
		bottom: 30px;
	    height: 40px;
	   	margin-bottom: 0;
	   	margin-left: auto;
    	margin-right: auto;
	    padding: 0 15px!important;
	    width: fit-content;

	    @media (max-width: $xxl-1){
	    	height: 30px;
	    }

		@include media-breakpoint-down(sm){
			bottom: 10px;
			margin-bottom: 0;
		}

		li {
			background: transparent;
		    border: none;
		    display: flex!important;
		    height: 40px;
		    margin: 0 2px!important;
		    width: 40px;

    		@media (max-width: $xxl-1){
	    		height: 30px;
	    		width: 30px;
	    	}
			
			&:after{
				background-color: $neutral-color-light;
				border-radius: 50%;
			    content: "";
			    display: flex;
			    height: 10px;
			    margin: auto;
			    opacity: 1;
			    width: 10px;
			}

		    &:before{
		    	content: none!important;
		    }

		    &:last-child{
		    	margin-right:0;
		    }

		    &:first-child{
		    	margin-left:0;
		    }

		    &.btn-carousel-showmore{
		    	opacity: 1;

		    	&:after{
		    		background-color: transparent;
				    background-position: center;
		    		background-image: url("../images/icons/ico-plus.png");
		    		height: 70%;
    				width: 70%;
		    	}
		    }
		}

		.active{
			&:after{
				background-color: $color-white; 
				opacity: 1;
			}
		}
	}

	.carousel-item{
		height: 435px;	

		@include media-breakpoint-down(md) {
			height: 307px;
		}

		img{
			border-radius: 5px;
			height: 100%;
			object-fit: cover;
		    object-position: top center;
		    width: 100%;
		}

		a{
			display: block;
			height: 100%;
    		position: relative;

			.icon-fullscreen{
				display: none;
			}

			&:hover{
				.icon-fullscreen{
				    align-items: center;
				    background-color: rgba(0, 0, 0, 0.5);
				    border-radius: 50%;
				    color: $color-white;
				    display: flex;
				    height: 45px;
				    font-size: 25px;
				    justify-content: center;
				    position: absolute;
				    right: 20px;
				    text-decoration: none;
				    top: 20px;
				    width: 45px;
				    z-index: 2;
				}
			}
		}
	}
}