<div style="font-family:Helvetica,Arial,sans-serif;">
	<div lang="eu" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Kidea izateko eskaera</h1>
		<p>[$TO_NAME$] agurgarria,</p>
		<p><a href="mailto:[$REQUEST_USER_ADDRESS$]">[$REQUEST_USER_NAME$]</a>-(e)k ondorengo oharrarekin
			<strong>[$SITE_NAME$]</strong> webguneko kidea izateko eskaera egin du:
		</p>
		<p>"<strong>[$COMMENTS$]</strong>"</p>
		<p>Webgune horretako administratzailea zarelako jaso duzu mezu hau.
			Eskaerari erantzuteko sartu <a href="/eu" target="_blank" title="Beste leiho bat irekiko du"><strong>web zerbizuan</strong></a>
			eta erabili <strong>[$SITE_NAME$]</strong> ataria administratzeko tresna (<strong>Erabiltzaileak --} Guneko Kideak</strong>).
		</p>
		<p>Agur bat,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Webgune korporatiboaren jankinarazpen sistemaren mezu automatikoa da, mesedez, ez erantzun helbide honetara.
			Zalantzarik baduzu, harremanetan jarri Erabiltzailearentzako Arreta Zerbitzuarekin (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Beste leiho bat irekiko du">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="es" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Solicitud de membresía</h1>
		<p>Estimado/a [$TO_NAME$],</p>
		<p><a href="mailto:[$REQUEST_USER_ADDRESS$]">[$REQUEST_USER_NAME$]</a> ha realizado una solicitud
			para ser miembro del sitio web <strong>[$SITE_NAME$]</strong> con los siguientes comentarios:
		</p>
		<p>"<strong>[$COMMENTS$]</strong>"</p>
		<p>Has recibido este mensaje porque eres administrador(a) de dicho sitio web.
			Para responder a la solicitud entra en el <a href="/es" target="_blank" title="Abre nueva ventana"><strong>servicio web</strong></a>
			y utiliza en el portal <strong>[$SITE_NAME$]</strong> la herramienta de administración (<strong>Usuarios --} Membresía del sitio</strong>).
		</p>
		<p>Un saludo,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Aviso automático del sistema de notificación de la web corporativa, por favor, no respondas a este mensaje.
			Si tienes alguna duda contacta con el Centro de Atención a Usuarios/as (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Abre nueva ventana">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>

	<div lang="en" style="margin-bottom: 2em;">
		<h1 style="border-bottom: 1px dotted #ccc;color: #555555;font-size: 24px;line-height: 120%;">Membership request</h1>	
		<p>Dear [$TO_NAME$],</p>
		<p><a href="mailto:[$REQUEST_USER_ADDRESS$]">[$REQUEST_USER_NAME$]</a> has made a request
			to be a membership of the <strong>[$SITE_NAME$]</strong> website with the following comments:
		</p>
		<p>"<strong>[$COMMENTS$]</strong>"</p>
		<p>You have received this email because you are an administrator of that website.
			To reply to the request login into the <a href="/" target="_blank" title="Opens new window"><strong>web service</strong></a>
			and use in the <strong>[$SITE_NAME$]</strong> portal the administration tool (<strong>Users --} Site Memberships</strong>).
		</p>
		<p>Sincerely,</p>
		<p>[$FROM_NAME$]</p>
		<p><small>Automatic notice from the corporate website notification system, please do not reply to it.
			If you have any queries contact the User Support Centre (945 01 4400,
			<a href="http://lagun.ehu.eus" target="_blank" title="Opens new window">lagun.ehu.eus</a>,
			<a href="mailto:cau@ehu.eus">cau@ehu.eus</a>).</small>
		</p>
	</div>
</div>